<a href="{{ url_for('detalhes_vinho', id=vinho.id) }}"
    target="_blank"
    rel="noopener noreferrer"
    class="vinho-card"
    style="text-decoration: none; color: inherit; display:block;">

    <div class="card-header">
        <h3>{% if vinho.rank %}{{ vinho.rank }}. {% endif %}{{ vinho.name }} ({{ vinho.vintage }})</h3>
        <p>
            <strong>Tipo:</strong> {{ vinho.type }} |
            <strong>País:</strong> {{ vinho.country }}
        </p>
    </div>

    <img class="vinho-img vinho-card-img" src="{{ url_for('static', filename='img/vinhos/' + gerar_nome_imagem(vinho.name, vinho.vintage or 'SA')) }}" onerror="this.onerror=null; this.src='{{ url_for('static', filename='img/vinhos/sem_imagem.jpg') }}';" alt="{{ vinho.name }}">
    <div class="card-body">
        <p><strong>Uvas:</strong> {{ vinho.grape_varieties }}</p>
        {% if vinho.description %}
            <p><em>{{ vinho.description }}</em></p>
        {% endif %}
    </div>

    <div class="card-footer">
        <div class="vinho-nota">
            <span class="nota-valor">{{ "%.1f"|format(vinho.average_rating) }}</span>
            <span class="nota-avaliacoes">({{ vinho.reviews_count }} avaliações)</span>
        </div>
    </div>

</a>
