<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site-Vinhos</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav>
        <div class="nav-container">
            <a href="{{ url_for('index') }}" class="nav-logo">
    <img src="{{ url_for('static', filename='css/logo3.png') }}" alt="Logo do Site Vinhos" class="logo-img">
</a>

            <div class="nav-links">
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('catalog') }}">Catálogo</a>
                <a href="{{ url_for('recommend') }}">Recomendações</a>
                <a href="{{ url_for('dashboard') }}">Dashboard</a>
            </div>
        </div>
    </nav>
    
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    
    <script src="{{ url_for('static', filename='js/app.js') }}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <script src="{{ url_for('static', filename='js/app.js') }}" defer></script>

</body>
</html>