{% extends 'base.html' %}

{% block content %}
    <h1>Catálogo de Vinhos</h1>
    <p>Exibindo {{ pagination.items|length }} de {{ pagination.total }} vinhos do nosso acervo.</p>
    
    <hr>
    
    <div class="catalogo-grid">
        
        {% for vinho in pagination.items %}
            {% include '_vinho_card.html' %}
        {% else %}
            <p>Nenhum vinho encontrado no banco de dados.</p>
        {% endfor %}
        
    </div> <div class="pagination">
        {% if pagination.has_prev %}
            <a href="{{ url_for('catalog', page=pagination.prev_num) }}" class="btn btn-outline">&laquo; Anteriores</a>
        {% endif %}
        
        <span>Página {{ pagination.page }} de {{ pagination.pages }}</span>
        
        {% if pagination.has_next %}
            <a href="{{ url_for('catalog', page=pagination.next_num) }}" class="btn">Próximos &raquo;</a>
        {% endif %}
    </div>
    
{% endblock %}